[submodule "backend/app/osint/Phunter"]
	path = backend/app/osint/Phunter
	url = https://github.com/TechWithTy/Phunter.git

[submodule "backend/app/osint/Zehef"]
	path = backend/app/osint/Zehef
	url = https://github.com/TechWithTy/Zehef.git

[submodule "backend/app/osint/HomeHarvest"]
	path = backend/app/osint/HomeHarvest
	url = https://github.com/TechWithTy/HomeHarvest.git






[submodule "backend/app/stripe_home"]
	path = backend/app/stripe_home
	url = https://github.com/TechWithTy/fast_stripe_python_template.git

[submodule "backend/app/go_high_level_home"]
	path = backend/app/go_high_level_home
	url = https://github.com/TechWithTy/fast_go_high_level_python_template.git

[submodule "backend/app/eleven_labs_home"]
	path = backend/app/eleven_labs_home
	url = https://github.com/TechWithTy/fast_eleven_labs_python_template.git
[submodule "backend/app/supabase_home"]
	path = backend/app/supabase_home
	url = https://github.com/TechWithTy/fast_supabase_python_template.git
[submodule "backend/app/osint/theHarvester"]
	path = backend/app/osint/theHarvester
	url = https://github.com/TechWithTy/theHarvester.git
